.product-card{
	font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.product-card-infoContainer {
	display: flex;
    flex-wrap: wrap;
}

.product-card-info-container {
	display: flex;
    flex-direction: column
}

.product-card-info {
	display: flex;
    flex-direction: column;
    margin: 0% 0% -3% 2%
}
/* .product-card-imgConainer {

}
.product-card-img{
	 width: 100%; 
	
 }







.product-card-price {

} */