/* .product-card{
	width: 202.03px;
	height: 303.04px;
	margin: 20px	
} */

/* .product-card-imgConainer {

}
.product-card-img{
	 width: 100%; 
	
 }

.product-card-infoContainer {
	height: 46px;
	display: flex;
	 flex-direction: row; 
	padding: 2%;

}

.product-card-info-container {
	width: 75%; 

}

.product-card-info {

}

.product-card-price {

} */